:root {
  --action-dark: #028b4a;
  --action: #0090FF;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: calc(100vw - 300px);
}

// disable basic.css grid model
section {
  display: unset;
  flex-flow: unset;
}

button[disabled] {
  cursor: not-allowed;
  color: #bbb;
  filter: brightness(180%);

  @media (prefers-color-scheme: dark) {
    filter: brightness(75%);
  }
}

label,
input,
select {
  display: block;
  margin: 4px;
  width: 272px;
}

canvas {
  box-shadow: 0 0 0 1px;
}

svg[role="img"] {
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  button {
      background-color: var(--action-dark);
  }
}
