.tree-view-container {
  position: relative;
  display: flex;
  margin-top: 24px;

  a {
    position: absolute;
    display: none;
  }

  canvas:first-of-type {
    position: absolute;
    pointer-events: none;
  }
}
