.link {
    background: white;
    color: blue;
}

@media (prefers-color-scheme: dark) {
    .link {
        background: unset;
        color: var(--action-dark);
        filter: brightness(140%);
    }
}

.tree-path {
    text-align: center;

    & > button:not(:last-of-type) {
        margin-right: 0;

        &::after {
            content: '/';
            margin-left: 8px;
            color: black;
        }
        
        @media (prefers-color-scheme: dark) {
            &::after {
                color: white;
            }
        }
    }

    p {
        margin-top: 0;
        font-style: italic;
    }
}
